/*
    RESET
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
GENERAL
*/

html{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

img{
    width: 100%;
}

a{
    color: inherit;
    text-decoration: none;
}

/*
HEADER
*/

header{
    background-color: orange;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.nav ul{
    display: flex;
    justify-content: space-between;
}

.nav li{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}
.nav a{
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

ul .select-section{
    justify-content: flex-start;
}

ul .menu-section{
    justify-content: flex-end;
}
.select-section, .menu-section{
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

.logo{
    width: 20%;
}

/*
MAIN
*/

main{
    padding-top: 80px;
}

.my-row{
    display: flex;
    flex-wrap: wrap;
}
.product-container{
    width: calc((100% / 3) - 10px);
    display: inline-block;
    margin: 5px;
}

.discount{
    background-color: red;
    color: white;
}

.sust-banner{
    background-color: green;
    color: white;
}

.img-icon{
    padding: 5px;
    font-weight: bold;
    margin-right:5px;
}

.product-view{
    position: relative;
}
.discount-position{
    position: absolute;
    bottom: 10%;
}

.wishlist{
    position: absolute;
    right: 0%;
    top: 10px;
    background-color: white;
    padding: 10px;
}

.product-description{
    font-weight: bolder;
}
.red-price{
    color: red;
    font-weight: bold;
}

.old-price{
    text-decoration: line-through;
}

/* HOVER  */

.product-img:hover #img1a{
    display: none;
}

.product-img:hover #img1b{
    display: block;
}
#img1b{
    display: none;
}

.product-img:hover #img2a{
    display: none;
}

.product-img:hover #img2b{
    display: block;
}
#img2b{
    display: none;
}

.product-img:hover #img3a{
    display: none;
}

.product-img:hover #img3b{
    display: block;
}
#img3b{
    display: none;
}

.product-img:hover #img4a{
    display: none;
}

.product-img:hover #img4b{
    display: block;
}
#img4b{
    display: none;
}

.product-img:hover #img5a{
    display: none;
}

.product-img:hover #img5b{
    display: block;
}
#img5b{
    display: none;
}

.product-img:hover #img6a{
    display: none;
}

.product-img:hover #img6b{
    display: block;
}
#img6b{
    display: none;
}

/* FOOTER  */

Footer{
    background-color:#1A1A1A;
}

.footer-flex{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    color: white;
}

.left-footer-UL{
    display: flex;
    padding-top: 15px;
}

.right-footer-UL{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}
.left-footer-UL li, .right-footer-UL li{
    list-style-type: none;
}

.link1, .link2, .link3{
    margin-right: 20px;
}
